body {
  font-size: 16px;
}

[contentEditable=true]:empty:not(:focus):before{
  content: attr(data-ph);
  color: rgba(0, 0, 0, .4);
}

.greeting {
  margin-bottom: 50px;
}

.textBox {
  margin-bottom: 40px;
}

#e {
  margin: 0 auto;
}
