extends layout

block content
  link(href='/css/style.css', rel='stylesheet')
  .ignore(style="font-family:Lato;")

  //- Navbar
  .navbar.navbar-info
    .col-lg-8.col-lg-offset-2
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='javascript:void(0)')
          | Storming.ME
          .ripple-wrapper
      .navbar-collapse.collapse.navbar-inverse-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='https://twitter.com/intent/tweet?text=Storming.ME+-+Hacking+the+Tweetstorm&url=http://storming.me&via=KaranGoel', target='_blank')
              span.fa.fa-twitter.fa-2x
          li
            a(href='http://github.com/karan/Storming', target='_blank')
              span.fa.fa-github.fa-2x

  //- Greeting
  .col-lg-8.col-lg-offset-2.greeting
    .bs-component
      .alert.alert-dismissable
        button.close(type="button", data-dismiss="alert") ×
        h4 Getting Started
        p
          | Welcome to your dashboard, @#{username}. To get started, simple compose a tweet below. 
          | The editor is a live preview of what your final image will look like. 
          | When ready, click the Tweet button and your tweet will be posted.

  //- Text editor controls
  .col-lg-8.col-lg-offset-2
    .row
      .col-lg-8
        .form-group.credit-checkbox
          .checkbox
            label(for="credit")
                input(type="checkbox", id="credit")
                | Credit Storming.ME
      .col-lg-2
        button.btn.btn-default Clear Text
  
  //- Text editor
  .col-lg-8.col-lg-offset-2
    .panel.panel-default
      .panel-body
        .textBox(contenteditable='true', data-ph='Enter your tweetstorm here.. Remember, no character limits.', tabindex='1', autofocus='')
  
  //- Tweet text box
  .col-lg-8.col-lg-offset-2
    .form-group
      label.col-lg-2.control-label(for="textArea") Tweet text (Optional)
      span.help-block Enter tweet text that introduces your tweetstorm created above. You can tag @username or paste links or use #hashtags.
      .input-group
        .form-control-wrapper
          textarea.form-control.empty#textArea(rows="2", maxLength="117")
          span.material-input
        .input-group-addon.text-length 23/140
  
  //- Tweet button
  .col-lg-2.col-lg-offset-7
    a.btn.btn-info.pull-right.tweet-button
      | Post Tweetstorm as Picture
      .ripple-wrapper

  //- The result of posting the tweet
  .col-lg-8.col-lg-offset-2.tweetresult
    .bs-component
      .alert.alert-dismissable
        button.close(type="button", data-dismiss="alert") ×
        h4 You just hacked the tweetstorm.
        .embed

  canvas#textCanvas(style='display: none;')
  img#image

  include footer
