extends layout

block content
  link(href='/css/style.css', rel='stylesheet')
  .ignore(style="font-family:Lato;")
  .ignore(style="font-family:Merriweather;")

  //- Navbar
  .navbar.navbar-info
    .col-lg-6.col-lg-offset-3
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='javascript:void(0)')
          | Storming.ME
          .ripple-wrapper
      .navbar-collapse.collapse.navbar-inverse-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='https://twitter.com/intent/tweet?text=Storming.ME+-+Hacking+the+Tweetstorm&url=http://storming.me&via=KaranGoel', target='_blank', title="Share on Twitter")
              span.fa.fa-twitter.fa-2x
          li
            a(href='http://github.com/karan/Storming', target='_blank', title="View source code")
              span.fa.fa-github.fa-2x
          li
            a(href='/logout', title="Logout")
              span.fa.fa-sign-out.fa-2x

  //- Greeting
  .col-lg-6.col-lg-offset-3.greeting
    .bs-component
      .alert.alert-dismissable
        button.close(type="button", data-dismiss="alert") ×
        h4 Getting Started
        p
          | Welcome to your dashboard, @#{username}. To get started, simple compose a tweet below. 
          | The editor is a live preview of what your final image will look like. 
          | When ready, click the Tweet button and your tweet will be posted.
        button.btn.btn-primary.btn-raised.bookmark Bookmark Storming.ME
  
  //- Tweet text box
  .col-lg-6.col-lg-offset-3.tweet-text
    .form-group
      label.control-label.tweet-title(for="textArea") Tweet
      .input-group
        .form-control-wrapper
          textarea#textArea(rows="2", maxLength="117", tabindex="2", autofocus, placeholder="Introduce your tweetstorm. You can tag @username, paste links or use #hashtags.")
        .input-group-addon.text-length 23/140

  //- Text editor controls
  .col-lg-6.col-lg-offset-3
    .row
      .col-lg-3
        .form-group.font-checkbox
          .checkbox
            label(for="font")
                input(type="checkbox", id="font")
                | Serif font
      .col-lg-3
        .form-group.credit-checkbox
          .checkbox
            label(for="credit")
                input(type="checkbox", id="credit")
                | Watermark
      .col-lg-1
        a.btn.btn-default.btn-flat.rand-bg-btn(href="javascript:void(0)", title="Random Background Color")
          i.mdi-av-repeat.random-bg
      //- .col-lg-2
      //-   button.btn.btn-default Clear Text

  //- Text editor
  .col-lg-6.col-lg-offset-3
    .panel.panel-default
      .panel-body#t
        .textBox(contenteditable='true', data-ph='Enter your tweetstorm here.. Remember, no character limits.', tabindex='1')
  
  //- Tweet button
  .col-lg-2.col-lg-offset-7
    .btn-group.pull-right
      a.btn.btn-info.tweet-button
        | Tweet
        .ripple-wrapper
      a.btn.btn-info.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown")
        span.caret
      ul.dropdown-menu
        li
          a.upload-imgur(href="javascript:void(0)") Upload to Imgur


  //- The result of posting the tweet
  .col-lg-6.col-lg-offset-3.tweetresult
    .bs-component
      .alert.alert-dismissable
        button.close(type="button", data-dismiss="alert") ×
        h4 You just hacked the tweetstorm.
        .embed

  img#image(style="display:none")
  //- img#image()

  include footer
