.col-lg-8.col-lg-offset-2
  .footer
    p.text-muted
      | storming.me - built by 
      b
        a(href="https://twitter.com/karangoel", target="_blank") @karangoel

script(src='/js/jquery.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
script(src='js/ripples.min.js')
script(src='js/material.min.js')
script(src='/js/script.js')
script.
  $(document).ready(function() {
    $.material.init();
    $('#credit').click();
  });
