script(src='/js/jquery.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
script(src='js/ripples.min.js')
script(src='js/material.min.js')
script(src='/js/script.js')
script.
  $(document).ready(function() {
    $.material.init();
  });
