extends layout

block content
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')
  link(href='/css/landing_page.css', rel='stylesheet')

  .container.cta-container
    .row.col-md-10.col-md-offset-1.text-center.cta-content
      .col-md-6.text-center.pitch
        img.brand(src="squall.svg")
        h2 Express yourself on Twitter, with more character
        h4.secondary-text-color If a picture is worth a thousand words, then a Squall is worth a dozen tweets.
        h3.signin-button
          a.btn-lg.login-btn(href="/login") Sign in with Twitter
        .assembly-footer.light-gray
          p.light-gray
            | Built with love on&nbsp;
            a.light-gray(href="https://assembly.com/squall", target="_blank") 
              img.asm-flag(src="/asm_flag.svg")
              | Assembly
      .col-md-6.sample-squall
        .post-container
          .post-body
            .media
              .post-author.pull-left
                img.media-object.author-image(src='/austin.png')
              .media-body
                .author-name Austin Smith
                .post-meta
                  .post-time #{new Date}
            h1.post-title
              span Need more than 140 characters on Twitter? Use Squall.
            .post-content
              p Squall is the easiest way to publish on Twitter without hitting that 140 character limit. Write your post, give it a title, and hit publish. It's that simple.
              p Signup to start sharing your brief thoughts, experiences, and tips. Squall will publish each post as a simple, beautiful image to your Twitter stream for all to read as well as collect them at Squall.io.
          .post-footer
            .post-meta
              .post-time #{new Date}
              .post-stats
                span.retweets
                  strong 90
                  |  Retweets
                span.favorites
                  strong 180
                  |  Favorites


  include footer
