extends layout

block content
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')
  link(href='/css/landing_page.css', rel='stylesheet')

  .container.cta-container
    .row.col-md-10.col-md-offset-1.text-center.cta-content
      .col-md-5.col-md-offset-1.text-left
        h2 Express yourself on Twitter, without character limits
        h3 Create & share images of text
        a.btn.btn-info.btn-lg.login-btn(href="/login") Login with Twitter
      .col-md-6
        .post-container
          .post-author
            img.author-image(src='https://pbs.twimg.com/profile_images/420314816444502016/xj5TnUsx_400x400.jpeg')
            .author-name Elon Musk
          .post-body
            h1.post-title 
              span Title
            .post-content content goes here
          .post-footer
            .post-meta
              .post-time #{new Date}
              .post-stats
                span.retweets
                  strong 90
                  |  Retweets
                span.favorites
                  strong 180
                  |  Favorites
            .post-social
              .tweet-button-disabled
                i.fa.fa-twitter
                |  Tweet This
              //
                .post-share
                  a(href='#')
                    i.fa.fa-facebook-official
                  a(href='#')
                    i.fa.fa-google-plus-square
                  a(href='#')
                    i.fa.fa-pinterest-square


  include footer
