extends layout

block content
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')
  link(href='/css/landing_page.css', rel='stylesheet')

  .container.cta-container
    .row.col-md-10.col-md-offset-1.text-center.cta-content
      .col-md-6.text-center.pitch
        img.brand(src="squall.svg")
        h2 Write freely.  Share widely.
        h4.secondary-text-color You're leaving stories untold.  Express yourself on Twitter with more character(s).
        h3.signin-button
          a.btn-lg.login-btn(href="/login") Sign in with Twitter
        .assembly-footer.light-gray
          p.light-gray
            | Built with love on&nbsp;
            a.light-gray(href="https://assembly.com", target="_blank")
              img.asm-flag(src="/asm_flag.svg")
              | Assembly

      .col-md-6.sample-squall

        blockquote.twitter-tweet(lang='en')
          p
            | The 3 most important concepts in term sheet negotations
            a(href='http://t.co/VFQdCpqF8Q') http://t.co/VFQdCpqF8Q
            |  sent via
            a(href='https://twitter.com/squallapp') @Squallapp
            a(href='http://t.co/iBB4seckGx') pic.twitter.com/iBB4seckGx
          | — Ben Shyong (@bshyong)
          a(href='https://twitter.com/bshyong/status/573557768285732864') March 5, 2015
        script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')








  include footer
