extends layout

block content
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')
  link(href='/css/landing_page.css', rel='stylesheet')

  .container.cta-container
    .row.text-center
      img.brand(src="squall.svg")
    .row.col-md-10.col-md-offset-1.text-center.cta-content
      .col-md-6.text-left.pitch
        h2 Express yourself on Twitter, without character limits
        h3.secondary-text-color Create & share images of text
        a.btn.btn-info.btn-lg.login-btn(href="/login") Login with Twitter
      .col-md-6
        .post-container
          .post-author
            img.author-image(src='https://pbs.twimg.com/profile_images/420314816444502016/xj5TnUsx_400x400.jpeg')
            .author-name Elon Musk
          .post-body
            h1.post-title
              span First Day on Mars
            .post-content It's pretty Red.  Otherwise things are cool.  Getting bored actually... thinking Titan would be noice next summer.
          .post-footer
            .post-meta
              .post-time #{new Date}
              .post-stats
                span.retweets
                  strong 90
                  |  Retweets
                span.favorites
                  strong 180
                  |  Favorites


  include footer
