doctype html
html
  head
    title Jotpad - Tweet up a Storm
    meta(charset='UTF-8')
    meta(name='description', content='Hacking The Tweetstorm... With Pictures of Text.')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Twitter cards
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:image', content='https://github.com/karan/Storming/raw/master/screen.png')
    meta(name='twitter:title', content='Storming.ME')
    meta(name='twitter:description', content='Hacking The Tweetstorm... With Pictures of Text.')
    meta(name='twitter:creator', content='@KaranGoel')

    // Facebook open graph
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:image', content='https://github.com/karan/Storming/raw/master/screen.png')
    meta(property='og:title', content='Storming.ME')
    meta(property='og:description', content='Hacking The Tweetstorm... With Pictures of Text.')
    meta(property='og:url', content='http://www.storming.me')
    meta(property='og:site_name', content='Storming.ME')

    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/ripples.min.css', rel='stylesheet')
    link(href='/css/material-wfont.min.css', rel='stylesheet')

  body
    block content
