//- Navbar
.navbar.navbar-info
  .col-lg-10.col-lg-offset-1
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/dashboard')
        img(src="/squall_mark.svg", height="40px;")
        .ripple-wrapper
    .navbar-collapse.collapse.navbar-inverse-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/leaderboard", title="Leaderboard")
            span.fa.fa-star.fa-2x
        li
          a(href='/settings', title="Settings")
            span.fa.fa-gear.fa-2x
        li
          a(href='/logout', title="Logout")
            span.fa.fa-sign-out.fa-2x
