extends layout

block content

  link(href='/css/home.css', rel='stylesheet')

  .container
    .row.header
      .col-lg-12
        .thumbnail.text-center
          h1 #{title}
          p #{contents}
          p by #{author}

  include footer
