extends layout

block content
  link(href='/css/style.css', rel='stylesheet')
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')

  include navbar


  col-lg-6.col-lg-offset-3
    h1 The Squall has Taken you to Dark Seas
