extends layout

block content
  link(href='/css/style.css', rel='stylesheet')
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')

  include navbar

  .container
    .row.header
      h1 The Squall has Taken you to Dark Seas
      img(src='/squall.jpg')
