extends layout

block content

  include navbar

  .container
    .row.header
      include profile_component

      .col-lg-8
        .text-center
          h3 Posts

          each val in posts
            .row.header
              .col-lg-10.col-lg-offset-1
                .thumbnail.text-center
                  a(href="/posts/#{val.slug}")
                    h4 #{val.title}
                  p #{val.content}


span#profileUsername(style="display:none") #{user.username}

  include footer
