extends layout

block content

  link(href='/css/home.css', rel='stylesheet')

  .container
    .row.header
      .col-lg-4
        .thumbnail.text-center
          img(src='#{large_photo}', width="200px")
          .h3
            a(href="https://twitter.com/#{user.username}") @#{user.username}
          h3 #{user.name}
      .col-lg-8
        .thumbnail.text-center
          h3 Posts
            

  include footer
