extends layout

block content

  link(href='/css/style.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')
  include navbar

  .container
    .row.header
      .col-lg-8

        div(ng-controller="UserSettingsController", ng-cloak='')
          h2.form-signin-heading Settings2

          .alert.alert-success#success-alert(role="alert", ng-if="aux.showSuccess") Settings successfully saved!
          .alert.alert-error#error-alert(role="alert", ng-if="aux.errors") {{aux.errors}}

          form#settings-form(ng-submit="save()")

            .form-group(ng-class="{disabled:!aux.changeUsername}")
              .checkbox(ng-if="!user.old_username")
                label
                  input(type='checkbox', name='alert_when_friends_join', ng-model='aux.changeUsername')
                  |  Change username (you can do it only once)
              label(for='username') Username
              input#username.form-control(type='text', placeholder='Enter username', name="username", ng-model='user.username', ng-disabled='!aux.changeUsername')
            
            br
            .form-group
              label(for='email') Email address
              input#email.form-control(type='email', placeholder='Enter email', ng-model='user.email_address')

            .checkbox
              label
                input(type='checkbox', name='alert_when_friends_join', ng-model='user.alert_when_friends_join')
                |  Alert me when a friend joins
            .checkbox
              label
                input(type='checkbox', name='alert_when_follow', ng-model='user.alert_when_follow')
                |  Alert me when someone follows me 
            button.btn.btn-default.save-settings-button(type='submit') Save my settings
    
  include footer
  
  
  
