body {
  padding-top: 50px;
}

.header {
  margin: 40px 0 30px 0;
}

h4.lead-text {
  line-height: 26px;
}

.icon {
  font-size: 100pt;
  margin-bottom: 20px;
}

.panel-body {
  text-align: center
}

.footer {
  margin-top: 80px;
  text-align: center;
}

.tempest {
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/0/0c/De_Windstoot_-_A_ship_in_need_in_a_raging_storm_(Willem_van_de_Velde_II,_1707).jpg);
}
