@font-face {
    font-family: 'Eagle-Book'; /*a name to be used later*/
    src: url('/fonts/Eagle-Book.otf'); /*URL to font*/
}

.cta-content {
}

.cta-container {
  margin-top: 75px;
}

body {
  background-color: #fff;
  color:#068399;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: 'Lato';
}

.pitch {
  padding-top: 2em;
  margin-bottom:100px;
}

.media-body {
  margin: 1em 0 0;
  padding-top: 0.5em;
}

.post-author {
  margin: 1em 0 0;
}

.left {
  width:50%;
  background:green;
}

.right {
  width:50%;
  background:black;
}

a.login-btn {
  top: 1.5em;
  background-color: #fff;
  color:#068399;
  padding:0.5em 1em;
  position: relative;
  border:#068399 solid 1px;
}

img.brand {
  padding-top:5%;
  width:250px;
  margin-bottom:1em;
}

.tweet-button-disabled {
  display: block;
  color: #2cbbd4;
  font-size: 16px;
  padding: 5px 60px;
  border: 1px solid #2cbbd4;
  margin: 0 auto;
}
