@font-face {
    font-family: 'Eagle-Book'; /*a name to be used later*/
    src: url('/fonts/Eagle-Book.otf'); /*URL to font*/
}

.cta-content {
}

.cta-container {
  min-height:500px;
}

body {
  background-color: #fff;
  color:#068399;
}

.pitch {
  padding-top: 2em;
}

.pitch > h2, .pitch > h3, .pitch > a {
  /*font-family: 'Eagle-Book';*/
}

img.brand {
  padding-top:5%;
  width:250px;
  margin-bottom:3em;
}

.tweet-button-disabled {
  display: block;
  color: #2cbbd4;
  font-size: 16px;
  padding: 5px 60px;
  border: 1px solid #2cbbd4;
  margin: 0 auto;
}
