@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

body {
  font-size: 16px;
}

[contentEditable=true]:empty:not(:focus):before{
  content: attr(data-ph);
  color: rgba(0, 0, 0, .4);
}

.greeting {
  margin-bottom: 50px;
}

.textBox {
  margin-bottom: 40px;
  min-height: 50px;
  font-family: "Lato", sans-serif;
}

.footer {
  margin-top: 80px;
  text-align: center;
}

.credit-preview {
  float: right;
  font-family: "Lato", sans-serif;
}

.tweetresult {
  margin-top: : 50px;
  display: none;
}
