@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

body {
  font-size: 16px;
}

.editable:empty:not(:focus):before{
  content: attr(data-ph);
  color: rgba(0, 0, 0, .4);
}

.highlight {
  background-color: #CCDDED;
}

.greeting {
  margin-bottom: 50px;
}

.tweet-text {
  margin-bottom: 30px;
}

.tweet-title {
  margin: 0 0 10px 5px;
}

#textArea {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  width: 100%;
  height: 65px;
  resize: vertical;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

#textArea:focus {
  outline: 0;
  border-color: #50a5e6;
  box-shadow: inset 0 0 0 1px rgba(0,132,180,0.7);
}

.rand-bg-btn {
  margin: 0;
}

.random-bg {
  font-size: 30px;
}

a.btn.btn-default.btn-flat.rand-bg-btn {
  padding: 4px 20px;
  margin-top: 4px;
}

.textBox {
  margin-bottom: 40px;
  min-height: 50px;
}

.footer {
  margin-top: 80px;
  text-align: center;
}

.panel-body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  line-height: 25px;
  padding: 30px;
}

.credit-preview {
  float: right;
  font-size: 14px;
}

.tweetresult {
  margin-top: 50px;
  display: none;
}

.big-number{
    font-size:2em;
}

.big-number-label{
    color: #AAA;
    font-weight:100;
}

.huge-number{
    font-size:3em;
}

.edge-right{
    border-right:1px solid #AAA;
}

.edge-bottom{
    border-bottom:1px solid #AAA;
}

.bottom-margin{
    margin-bottom:1em;
}