@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

body {
  font-size: 16px;
  background-color:#fff;
}

/*.editable:empty:not(:focus):before{
  content: attr(data-ph);
  color: rgba(0, 0, 0, .4);
}*/

.medium-editor-placeholder:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-placeholder)!important;
  font-style: normal !important;
  color:#b6b6b6 !important;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

/* COLORS */
.brand-color {
  color: #2cbbd4;
}

.primary-text-color {
  color: #1f1f1f;
}

.secondary-text-color {
  color: #717171;
} 

.light-gray {
  color: #b6b6b6;
}

h1.post-title > a {
  color:#2cbbd4;
}

.highlight {
  background-color: #CCDDED;
}

.greeting {
  margin-bottom: 50px;
}

.navbar {
  background-color: #2cbbd4;
}

.tweet-text {
  margin-bottom: 30px;
}

.tweet-button:focus {
  border:solid 2px #717171;
}

.tweet-title {
  margin: 0 0 10px 5px;
}

.dashboard-feed-container {
  padding-top: 4em;
}

.dashboard-feed {
  margin-top: 4em;
}

.dashboard-post-body p{
  font-size:0.8em;
  line-height: 1.5em;
  margin-bottom: 2px;
}

.dashboard-post-body h1{
  font-size:1.75em;
}

#textArea {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  width: 100%;
  height: auto;
  resize: vertical;
  border:none;
  padding: 0.5em;
}

.squall-title {
  border-bottom: 1px solid #b6b6b6;
}

#textArea:focus {
  outline: 0;
}

.rand-bg-btn {
  margin: 0;
}

.random-bg {
  font-size: 30px;
}

a.btn.btn-default.btn-flat.rand-bg-btn {
  padding: 4px 20px;
  margin-top: 4px;
}

a:hover {
  text-decoration: none;
}

.textBox {
  margin-bottom: 40px;
  min-height: 50px;
}

.squall-content {
  border:none;
  border-bottom: 1px solid #b6b6b6;
}

.squall-content > .panel-body {
  padding: 0em 0.9em;
}


.footer {
  margin-top: 80px;
  text-align: center;
}

.panel-body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  line-height: 25px;
  padding: 30px;
}

.credit-preview {
  float: right;
  font-size: 14px;
}

.tweetresult {
  margin-top: 50px;
  display: none;
}

.normal-font-size {
  font-size:1.5em;
}

.big-number{
    font-size:2em;
}

.big-number-label{
    color: #AAA;
    font-weight:100;
}

.huge-number{
    font-size:3em;
}

.edge-right{
    border-right:1px solid #AAA;
}

.edge-bottom{
    border-bottom:1px solid #AAA;
}

.bottom-margin{
    margin-bottom:2em;
}